

/*sidebar*/

.sidebar-container-navigation{
    /*position:fixed;
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-100%);*/
    display:flex;
    transition: transform 0.3;
   }
   
   
   .sidebar-show{
       transform: translatex(0%);
       background:  rgba(0, 0, 0, 0.7); 
       transition: background-color ;
   }
   
   .sidebar-left-part{
       background-color: rgb(153, 38, 38);
       font-family: 'Roboto', sans-serif;
       /* background-color: white;*/
       width: 350px;
       height: 100%;
       box-sizing: 5px 5px 10px rgba(0,0,0,0.8);
   }
   
   .sidebar-top{
       display: flex;
       align-items: center;
       gap: 10px;
       background-color: rgb(25, 39, 57);
       color: white;
       padding: 12px;
   }
   
   .sidebar-topicon{
   font-size: 20px;
   padding-left: 13px;
   
   
   }
   
   
   .sidebar-item{
       padding-top: 13px;
       padding-left: 25px;
       border-bottom: 1px solid rgb(107, 105, 105);
   }
   
   .sidebar-item h2{
       font-size: 20px;
       padding-bottom: 10px;
       color: #111;
       font-weight: 600;
   }
   
   .sidebar-item p{
       color: rgb(107, 105, 105);
       padding-block: 15px;
   }
   
   
     
   #sidebar-close{
       background-color: transparent;
       align-self: flex-start;
       font-size: 33px;
       border: none;
       color: brown;
       padding-left: 10px;
       padding-top: 5px;
   cursor: pointer;
   }
   
   .scroll{
       height: 100%;
       overflow: auto;
   }